<% @rss_feeds = { 'All projects' => {:controller => 'projects', :action => 'index', :format => 'rss'} } %>
<% @projects.each { |p| @rss_feeds["#{p.name} builds"] = project_url(:controller => 'projects', :action => 'show', :id => p, :format => 'rss')} %>

<div id="projects">
  <% @projects.each do |project| %>
    <% next if project.respond_to?("is_legacy?") && project.is_legacy? %>
<!--    <%= render :partial => 'project', :locals => {:project => @project }%> -->
  <% end %>

  <% if @projects.empty? %>
	<div id="no_projects_help" class="help">
	  <div style="padding: 1em;">
	    <p>
	      There are no projects in the projects directory
	      <small>[<%= h File.join(DATA_ROOT, 'projects') %>]</small> 
	      yet. <a href="/projects/new">Create a New project</a>	
	    </p>
	  </div>
	</div>
  <% end %>
</div>

<!-- for easier to check log 
call 
  periodically_call_remote :url => { :action => 'index', :format => 'js'}, :method => 'get',
-->